version: '3.7'

services:
  backend:
    build: './backend-api'
    command: yarn dev
    env_file: ['./backend-api/.env']
    ports: ['5000:5000']
    volumes:
      - ./backend-api:/app
    networks:
      - front-tier
      - back-tier
  frontend:
    build: './frontend'
    command: yarn start
    env_file: ['./frontend/.env']
    ports: ['3000:3000']
    volumes:
      - ./frontend:/app
    networks:
      - front-tier
      - back-tier
networks:
  front-tier:
  back-tier:
